@import url('https://fonts.googleapis.com/css2?family=Gafata&family=Sigmar+One&display=swap');
:root {
  --cl-1: #1b1b1b;
  --cl-2: #2e2e2e;

  --cl-txt: #16b138;
  --cl-txt2: #9a9a9a;
  --ff-1: 'Gafata', Arial, Helvetica;
  --ff-2: 'Sigmar One', Arial, Helvetica;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--cl-1);
  color: var(--cl-txt);
  font-family: var(--ff-1);
}

header, footer {
  box-sizing: border-box;
  margin: 0;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  text-align: center;
}

header {
  border-bottom: 1px solid var(--cl-2);
  background: var(--cl-1);
  position: sticky;
  z-index: 6;
  top: 0;
}

footer {
  margin-top: 2rem;
  border-top: 1px solid var(--cl-2);
}

.footer-info {
  width: 100%;
}

.marca {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 10;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  overflow: hidden;
}

.logo img {
  width: 100%;
}

.nombre {
  font-size: 30px;
  font-family: var(--ff-2);
}

.nombre, .tarjeta {
  cursor: pointer;
}

.nav-bar {
  width: 50%;
}

.nav-items {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: var(--cl-txt);
  font-size: 18px;
  font-weight: 900;
  padding: 0.7rem 1rem;
}

.nav-link:hover {
  background: var(--cl-2);
}

.contenedor-tarjetas {
  display: flex;
  justify-content: space-around;
  gap: 8rem;
  flex-wrap: wrap;
  margin: 1rem 1rem 4rem;
}

.tarjeta {
  position: relative;
  border: 2px solid var(--cl-2);
  border-radius: 4px;
  box-shadow: 0px 0px 30px #000;
  padding: 1rem;
  width: 300px;
  height: 500px;
  transition: border 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tarjeta::before {
  content: "";
  position: absolute;
  background: var(--cl-txt);
  top: 105%;
  left: 0;
  height: 50px;
  width: 100%;
  opacity: 0;
  transform: perspective(2rem) rotateX(20deg) scale(1, 0.5);
  filter: blur(2rem);
  transition: opacity 0.4s;
}

.precio {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.tarjeta-items {
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  margin: 0 0.5rem;
  list-style: none;
}

.tarjeta-item {
  margin: 0.5rem 0;
  color: var(--cl-txt2);
  display: flex;
  align-items: center;
}

.tarjeta-item::before {
  content: "\2611";
  display: inline-block;
  width: 1rem;
  margin-right: 0.5rem;
  font-weight: bold;
  color: var(--cl-txt);
}

.tarjeta-item:not(:last-child) { 
  margin-bottom: 10px; 
}

.tarjeta-boton {
  border: 1px solid var(--cl-txt);
  background: var(--cl-txt);
  color: var(--cl-2);
  padding: 0.5rem 1.2rem;
  width: 50%;
  font-weight: 900;
}

.tarjeta-boton:hover {
  filter: brightness(140%);
}

.tarjeta-boton:active {
  filter: brightness(95%);
}

.tarjeta:hover, .tarjeta:focus {
  border: 2px solid var(--cl-txt);
  box-shadow: 0px 0px 20px var(--cl-txt);
  &.tarjeta::before {
    opacity: 1;
  }
}

.popular::after {
  content: attr(data);
  position: absolute;
  background: var(--cl-txt);
  color: var(--cl-2);
  width: 90px;
  font-size: 14px;
  text-align: center;
  top: 5px;
  right: -20px;
  padding: 0.3rem 0.2rem;
  transform: rotate(30deg);
}

@media screen and (width <= 820px) {
  header {
    padding: 0 0.5rem;
  }
  
  .nombre {
    font-size: 25px;
  }

  .contenedor-tarjetas {
    flex-direction: column;
    gap: 3rem;
    margin: 1rem 0;
  }

  .tarjeta::before {
    all: unset;
  }

}

@media screen and (width <= 340px) {
  .nombre {
    display: none;
  }

  .tarjeta {
    width: 250px;
    height: 450px;
  }

  .tarjeta-item {
    font-size: 12px;
  }

  .popular::after {
    right: -5px;
    width: 75px;
    font-size: 11px;
    transform: rotate(20deg);
  }
}